<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>nyuhack2025</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Spinnaker&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Spinnaker&display=swap" rel="stylesheet">
<style>
    .sprite {
        background-position: <%= spritePosition %>;
    }
</style>
</head>
<body>
    <div class="header">
        <div class="name">
        <h1 class="profile-name"><%= data.name%>'s Pet</h1>
        </div>
    
    <div class="profile">
        <div><h2>Finance Fox</h2></div>
    <div class="pet-profile"><div class="sprite"></div>
    <div class="advice"><p>some advice to give</p></div>
    </div>
    </div>
    


    <div class="data-container">
    <container class="monthly-data">
        <div class="progress-section">
            <h2>Monthly Expenses</h2>
            <div class="progress-item">
                <div class="progress-label">
                    <span>Rent</span>
                    <span>$<%= data.rent %></span>
                </div>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: <%= data.rentPercentage %>%;"></div>
                </div>
            </div>
            <div class="progress-item">
                <div class="progress-label">
                    <span>Transport</span>
                    <span>$<%= data.transport %></span>
                </div>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: <%= data.transportPercentage %>%;"></div>
                </div>
            </div>
            <div class="progress-item">
                <div class="progress-label">
                    <span>Food</span>
                    <span>$<%= data.food %></span>
                </div>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: <%= data.foodPercentage %>%;"></div>
                </div>
            </div>
            <div class="progress-item">
                <div class="progress-label">
                    <span>Entertainment</span>
                    <span>$<%= data.entertainment %></span>
                </div>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: <%= data.entertainmentPercentage %>%;"></div>
                </div>
            </div>
            <div class="progress-item">
                <div class="progress-label">
                    <span>Utilities</span>
                    <span>$<%= data.utilities %></span>
                </div>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: <%= data.utilitiesPercentage %>%;"></div>
                </div>
            </div>
            <div class="progress-item">
                <div class="progress-label">
                    <span>Healthcare</span>
                    <span>$<%= data.healthcare %></span>
                </div>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: <%= data.healthcarePercentage %>%;"></div>
                </div>
            </div>
            <div class="progress-item">
                <div class="progress-label">
                    <span>Miscellaneous</span>
                    <span>$<%= data.misc %></span>
                </div>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: <%= data.miscPercentage %>%;"></div>
                </div>
            </div>
        </div>
    </container>
    <container= class="progress-data">
        <h2>Goals</h2>
        <div class="progress-section">
            <div class="progress-item">
                <div class="progress-label">
                    <span>Emergency Fund</span>
                    <span>50%</span>
                </div>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 50%;"></div>
                </div>
            </div>
            <div class="progress-item"></div>
                <div class="progress-label">
                    <span>Retirement Fund</span>
                    <span>30%</span>
                </div>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 30%;"></div>
                </div>
            <div class="progress-item"></div>
                <div class="progress-label">
                    <span>Vacation Fund</span>
                    <span>70%</span>
                </div>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 70%;"></div>
                </div>
        </div>
    </container>
    </div>
    <script src="/index.js"></script>
</body>
</html>